*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: #1c1917;
  color: #fafaf9;
  font-family: 'sono', sans-serif;
  padding: 40px 64px;
}

.hidden{
  display: none !important;
}

.header{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container{
  max-width: 1500px;
  margin: 0 auto;
}

.logo img{
  width: 68px;
  height: 68px;
}

.main{
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 16px;
}

h1{
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  margin-top: 5px;
}

.fact-form{
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input, 
.fact-form select{
  background-color: #78716c;
  border: 2px solid transparent;
  padding: 16px;
  font-size: 18px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  width: 220px;
}

.fact-form input::placeholder{
  color: #a8a29e;
}

.fact-form input:focus,
.fact-form select:focus{
  border: 2px solid #fafaf9;
  outline: none;
}

.fact-form span{
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

.fact-form input:first-child{
  flex-grow: 1;
}

.fact{
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}

@media(max-width: 1200px){
  .fact{
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

.tag{
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

ul{
  list-style: none;
}

.vote-btns{
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.vote-btns button{
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.vote-btns button:hover{
  background-color: #292524;
}

.source:link,
.source:visited{
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active{
  color: #3b82f6;
}

.btn{
  border: none;
  color: inherit;
  font-family: "Coiny", serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  transition: 0.3s;
  border-radius: 100px;
  cursor: pointer;
}

.btn:hover{
  transform: scale(110%) rotate(-2deg);
}

.btn-large{
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories{
  margin-bottom: 16px;
  width: 100%;
}

.btn-category{
  width: 100%;
  background-image: none;
}

.category{
  margin-bottom: 16px;
}

.test-btn{
  color: #fafaf9;
  font-weight: 400;
  font-family: "Coiny", serif;
  font-size: 30px;
  text-transform: uppercase;
}

@media(max-width: 1000px){
  body{
    padding: 32px 48px;
  }

  .fact-form{
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select{
    width: auto;
  }
}

@media(max-width: 910px){
  .header{
    flex-direction: column;
    gap: 20px;
  }

  .header .btn{
    width: 100%;
  }
}

@media(max-width: 900px){
  .main{
    grid-template-columns: 1fr;
  }
}